# データの永続化
## SQLite
＊軽量なデータベースを実装するC言語のライブラリ
＊サーバーようのプロセスを必要としない、組み込み型のデータベースエンジン
＊単一のファイルによって管理される（インメモリも可能）

In [1]:
import sqlite3

In [ ]:
# DBファイルの保存先パス(相対パスで指定)
path = ''

# Google Colabの場合
# path = '/content/'

# DBファイル
db_name = 'test.db'

# DB接続の確立
# DBファイルが存在しない場合は、新規作成される
conn = sqlite3.connect(path + db_name)

# DBへの接続を閉じる
conn.close()

## こういうデータベースを作成してみる
＊　car.db

| id | name | price |
| - | - | - |
|  |  |  |
|  |  |  |
|  |  |  |

### DB（SQLite）を使う時の処理の流れ

1. DBへのコネクションを確立
2. コネクションオブジェクトからデータ操作用のカーソルオブジェクトを取得
3. 実行したいSQLを定義
4. SQLを実行
5. 必要があればコミットする
6. コネクションを閉じる

### テーブルを作成

In [ ]:
path = ''
db_name = 'car.db'

try:
    
    # DBオブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # SQL(RDBを操作するための言語）カーソルオブジェクトを取得
    cur = conn.cursor()

    # SQL文の作成
    # テーブルの作成
    sql = 'CREATE TABLE cars (id INT, name TEXT, price REAL);'

    # SQLの実行
    cur.execute(sql)

except sqlite3.Error as e:
    print("エラーが発生しました", e)

finally:
    # DBへの接軸を閉じる
    conn.close()

エラーが発生しました table cars already exists

### データをDBに挿入する（単一レコード）

In [8]:
path = ''
db_name = 'car.db'

try:
    # DBオブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # SQL(RDBを操作するための言語）カーソルオブジェクトを取得
    cur = conn.cursor()

    # SQL文の作成
    # データの挿入
    # INSERT INTO テーブル名 VALUES(列に対応したデータをカンマ区切りで)；
    sql = "INSERT INTO cars (id, name, price) VALUES (1, '370z', 7000000);"

    # SQLの実行
    cur.execute(sql)

    # 変更をDBに反映させる
    conn.commit()
except sqlite3.Error as e:
   print("エラーが発生しました", e)

finally:   
    # DBへの接軸を閉じる
    conn.close()

### データをDBに挿入する

In [17]:
path = ''
db_name = 'car.db'

try:
    # DBオブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # SQL(RDBを操作するための言語）カーソルオブジェクトを取得
    cur = conn.cursor()

    # SQL文の作成
    # 複数レコードの挿入
    # INSERT INTO テーブル名 VALUES(列に対応したプレイスホルダーをカンマ区切りで)；
    sql = "INSERT INTO cars (id, name, price) VALUES (?, ?, ?);"

    car = [
        (2, '911カレラ', 15500000),
        (3, 'GRスープラ', 8000000),
        (4, 'シビックType-R', 5000000)
    ]
    # SQLの実行
    cur.executemany(sql, car)

    # 変更をDBに反映させる
    conn.commit()
    
except sqlite3.Error as e:
    print("エラーが発生しました", e)

finally:   
    # DBへの接軸を閉じる
    conn.close()

### DB内のデータを参照する

In [18]:
path = ''
db_name = 'car.db'

try:
    # DBオブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # SQL(RDBを操作するための言語）カーソルオブジェクトを取得
    cur = conn.cursor()

    # データを参照するSQL
    # SELECT＊FROM テーブル名；
    # INSERT INTO テーブル名 VALUES(列に対応したデータをカンマ区切りで)；
    sql = "SELECT* FROM cars;"
    # SQLの実行
    cur.execute(sql)

    # 変更をDBに反映させる
    # conn.commit()
except sqlite3.Error as e:
   print("エラーが発生しました", e)

else:
    # 取得したデータを表示
    for row in cur:
        id, name, price = row 
        print(id, name, price)  

finally:   
    # DBへの接軸を閉じる
    conn.close()

2 911カレラ 15500000.0
3 GRスープラ 8000000.0
4 シビックType-R 5000000.0

### データの削除

In [ ]:
path = ''
db_name = 'car.db'

try:
    # DBオブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # SQL(RDBを操作するための言語）カーソルオブジェクトを取得
    cur = conn.cursor()

    # データを削除するSQL
    # DELETE FROM テーブル名 
    sql = "DELETE FROM cars WHERE id = 1;"
    # SQLの実行
    cur.execute(sql)

    # 変更をDBに反映させる
    conn.commit()

except sqlite3.Error as e:
   print("エラーが発生しました", e)


finally:   
    # DBへの接軸を閉じる
    conn.close()

### データの更新

In [20]:
path = ''
db_name = 'car.db'

try:
    # DBオブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # SQL(RDBを操作するための言語）カーソルオブジェクトを取得
    cur = conn.cursor()

    # データを更新するSQL
    #  UPDATE テーブル名　SET カラム名＝更新値　WHERE 更新したい行を特定する条件； 
    sql = "UPDATE cars SET price = ? WHERE id = ?;"

    # SQLの実行
    cur.execute(sql, (5000000, 2))

    # 変更をDBに反映させる
    conn.commit()

except sqlite3.Error as e:
   print("エラーが発生しました", e)


finally:   
    # DBへの接軸を閉じる
    conn.close()